<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>myboard</title>
     

       
  
       <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script src="../js/privateBoard.js"></script>
        <script src="../js/bootstrap.js"></script>
       
      <script type="text/javascript">
     
 
      </script>
      <style>
  
   
  
      </style>
    </head>
    <body>  
        <div class="container">

            <!-- <div class="row">
                <h1><p class="text-center">Message Board</p>  </h1>
            </div>

                <div class="row">
                    <textarea class="form-control" rows="5"  name="message" id="message" style="min-width: 100%"></textarea>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addMessage()" id="message">Add</button>
            </div> -->
            <div class="row">
                <h1>welcome to message board</h1>
            </div>
            <div class="row">
                <div class="col-md-1">热门</div>
                <div class="col-md-1">最新</div>
                <div class="col-md-1"><a href="/addMessagePage">发表</a></div>
                <div class="col-md-1"><a href="/messageBoard">首页</a></div>
                <div class="col-md-1">关于</div>
               
            </div>
            <div class="row">
                    <div class="col-md-5"> <hr> </div>
                </div>  
          

            <% for(var i = 0 ; i< messages.length ; i=i+1){%>
                <div class="row">

                        <div class="row" >
                        <div class="col-md-5"> <span><%=messages[i].message%></span>  </div> 
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2"><button>喜欢</button> <button>讨厌</button> </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><button>分享</button> <button>评论</button> </div>
                        </div>
                </div>
               
                <div class="row">
                        <div class="col-md-5"> <hr> </div>
                    </div>  
            <% } %>    

            
  
        </div>
               
              
      
        
       
      
                    
                
    
                        
            
            
     
    </body>
</html>