<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>留言板</title>
        <!-- BootStrap -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/"></script>
        <link rel="stylesheet" href="../lib/css/bootstrap.css">
       
    </head>
    <body>  
        <div class="container">

          
            <div class="row">
                <h1>welcome to message board</h1>
            </div>
            <div class="row">
                <div class="col-md-1">热门</div>
                <div class="col-md-1">最新</div>
                <div class="col-md-1"><a href="/addMessagePage">发表</a></div>
                <div class="col-md-1"><a href="/messageBoard">首页</a></div>
                <div class="col-md-1">关于</div>
               
            </div>
            <div class="row">
                    <div class="col-md-5"> <hr> </div>
                </div>  
          

            <% for(var i = 0 ; i< messages.length ; i=i+1){%>
                <div class="row">

                        <div class="row" >
                        <div class="col-md-5"> <span><%=messages[i].message%></span>  </div> 
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2"><button>喜欢</button> <button>讨厌</button> </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><button>分享</button> <button>评论</button> </div>
                        </div>
                </div>
               
                <div class="row">
                        <div class="col-md-5"> <hr> </div>
                    </div>  
            <% } %>    

            
  
        </div>
               
              
      
        
       
      
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    </body>
</html>