<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
 <link rel="stylesheet" href="../css/bootstrap-responsive.min.css" type="text/css">
 <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">1</div>
            <div class="col-md-4">2</div>
            <div class="col-md-4">3</div>
        </div>
        <div class="row">
                <div class="col-md-6">1</div>
                <div class="col-md-6">2</div>
              
            </div>
    </div>
    
</body>
</html>